.container{
  min-height: 100vh;
  background-color: rgb(215, 215, 215);
  padding: 30px;
  margin: 0 auto;
  max-width: 1200px;
}

.button-container{
  min-height: 60px;
  display: flex;
  align-items: flex-end;
}